/* Container principal */
.principal-aluno-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(252, 252, 252, 0.2);    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    height: auto;
}

.principal-aluno-container h2 {
    text-align: center;
    color: #ffffff; /* Cor branca para o título */
    font-size: 32px;
    margin-bottom: 30px;
}

/* Estilos para o formulário */
.principal-aluno-container form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Labels dos campos */
.principal-aluno-container label {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 8px;
}

/* Estilos dos inputs, select, textarea e button */
.principal-aluno-container select,
.principal-aluno-container input[type="file"],
.principal-aluno-container textarea,
.principal-aluno-container button {
    padding: 20px;
    border: 1px solid #838383;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f1ffffdc;
}

/* Campos de seleção e textarea */
.principal-aluno-container select,
.principal-aluno-container textarea {
    width: 100%;
    background-color: #f1ffffdc;
}

/* Campo de arquivo */
.input-anexo label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    border: 2px dashed #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f1ffffdc;
    transition: background-color 0.3s;
}



.input-anexo input[type="file"] {
    display: none;
}

/* Lista de arquivos adicionados */
.principal-file-list {
    margin-top: 10px;
}

.principal-file-list ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 14px;
}

/* Estilo da textarea */
.principal-aluno-container textarea {
    height: 150px;
    resize: vertical;
}

/* Botão */
.principal-aluno-container button {
    background-color: white;
    color: #2685bf; /* Cor azul para o botão */
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
    cursor: pointer;
}


/* Estilos para mensagens */
.principal-aluno-container p {
    color: #d9534f; /* Vermelho para mensagens de erro */
    text-align: center;
    font-weight: bold;
}

.principal-aluno-container p.success {
    color: #5bc0de; /* Azul para mensagens de sucesso */
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2685bf; /* Cor azul para a navbar */
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 10;
}

.navbar-logo img {
    height: 40px;
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white; /* Cor branca para os links */
    font-size: 16px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

.navbar-links a svg {
    vertical-align: middle;
    margin-right: 5px;
}
